* {
    box-sizing: border-box;
  }
  
  body {
    min-width: 40rem;
    margin: 0 auto;
    /* padding: 4rem 2rem; */
    background: url(back9.jpg) no-repeat center fixed;
    background-size: cover;
    color: white;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  .title { 
    margin:150px 250px;
  }
  
  
button {
  display: block;
  font: inherit;
}

button {
  margin-top: 1rem;
  font-weight: bold;
}


textarea {
  width: 100%;
  margin-top: 0.5rem;
  border: 0;
  padding: 0.5rem;
}


textarea:focus {
  outline: 2px solid yellow;
}

textarea {
  resize: vertical;
}

button {
  border: 0;
  padding: 0.75rem 1rem;
  background-color: yellow;
}

a {
  color: yellow;
}

/*nav > a + a {
  margin-left: 1rem;
}
*/
ul {
  list-style: none;
  padding: 0;
}
header{
  position: -webkit-sticky;
  position: sticky;
  margin: 0 auto;
  display: flex;
  align-items: center; 
  justify-content: center;
}
.cart{
  padding-right: 2em;
  position: relative;

}

.cart .number-of-items{
  display: flex;
  cursor:pointer;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 18px;
  top: -7px;
  background: #f09d51;
  height: 20px;
  width: 20px;
  border-radius: 7px;
}
.number-of-items .noi{
  font-size: 0.7em;
}
.fa-shopping-cart{
  font-size: 1.5em;
  cursor: pointer;
}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 0;
  /* this margin allowed for the homepage, products, and cart to be at the same position */
  margin: 0 450px;
}
.navbar a {
  border:0;
  background:none;
  display: block;
  margin:5px;
  border: 3px solid #0c800eec;
  padding:14px 35px;
  outline:none;
  color:white;
  border-radius: 10px;
  transition: 0.25px;
  cursor: pointer;
  text-decoration: none;
}

.navbar a:hover {
  background:#0c800eec;
}

.navbar a:active {
  background-color: gold;
  border: gold;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}