body {
    margin:0 auto;
    padding:0;
    font-family: sans-serif;
    background: url(back9.jpg) no-repeat center fixed;
    background-size: cover;
    --color-error: #cc3333;
    --color-success: #4bb544;

    font-size: 18px;
    display:flex;
    flex-direction: column;
    align-items: center; 
    width: 80%;
}

.container {
    width:330px;
    max-width: 330px;
    padding:2rem;
    background:rgba(0,0,0,0.4);
    text-align: center;
    margin-top: 180px;
    display:flex;
    justify-content: center;
} 

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.title {
    color:white;
}

.form input.username,.form input.password, .form input.email {
    border:0;
    background:#97b9ee;
    display: block;
    margin:20px auto;
    text-align: center;
    border: 3px solid #0367fd;
    padding:14px 10px;
    width:220px;
    outline:none;
    color:rgb(6, 6, 6);
    border-radius: 24px;
    transition: 0.25px;
}

.form input.username:focus,.form input.password:focus, .form input.email:focus {
    width:270px;
    border-color: #ffc400eC;
    background:rgba(0,0,0,0.4);
    color: white;
}

.form input[type="submit"] {
    border:0;
    background:none;
    display: block;
    margin:20px auto;
    text-align: center;
    border: 3px solid #ffc400eC;
    padding:14px 35px;
    outline:none;
    color:white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background:#ffc400eC;
}

.form input[type="submit"]:active {
    transform: scale(0.95);
}

.error-message {
    color: var(--color-error);
}

.success-message {
    color: var(--color-success);
}

.reset-password-link {
color: #97b9ee;
text-decoration: none;
cursor: pointer;
}

.create-account-link {
color: #97b9ee;
text-decoration: none;
cursor: pointer;
}

.login-link {
    color: #97b9ee;
    text-decoration: none;
    cursor: pointer;
}

.reset-password-link:hover {
    text-decoration: underline;
}

.create-account-link:hover {
    text-decoration: underline;
}

.login-link:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 260px;
}

.navbar a {
    background:none;
    display: block;
    margin:5px;
    border: 2px solid #0367fd;
    padding:14px 35px;
    outline:none;
    color:white;
    border-radius: 10px;
    transition: 0.25px;
    cursor: pointer;
    text-decoration: none;
}

.navbar a:hover {
    background:#97b9ee;
  }

header{
    position: -webkit-sticky;
    /* position: sticky; */
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: center;
}

  .cart{
    padding-right: 2em;
    position: relative;
  
  }
  
  .cart .number-of-items{
    display: flex;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: 18px;
    top: -7px;
    background: #f09d51;
    height: 20px;
    width: 20px;
    border-radius: 7px;
  }

  .number-of-items .noi{
    font-size: 0.7em;
  }

  .fa-shopping-cart{
    font-size: 1.5em;
    cursor: pointer;
  }

  header button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  /* position: relative; */
  /* position: absolute; */
  /* text-align: center; */
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  margin: 3px;
}

header button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

header button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

header button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

header button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

header button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

header button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

header button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

header button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}