
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background: url(back.jpg) no-repeat center fixed;
  background-size: cover;
  color: white;
  font-family: sans-serif;
  align-items:center;
  justify-content: center;
  font-size: 18px;
  width: 80%;
  margin: auto;
}
/* 
button {
display: block;
font: inherit;
}

button {
margin-top: 1rem;
font-weight: bold;
} */


textarea {
width: 100%;
margin-top: 0.5rem;
border: 0;
padding: 0.5rem;
}


textarea:focus {
outline: 2px solid yellow;
}

textarea {
resize: vertical;
}
/* 
button {
border: 0;
padding: 0.75rem 1rem;
background-color: yellow;
} */

a {
color: yellow;
}

/* nav > a + a {
margin-left: 1rem;
} */

ul {
list-style: none;
padding: 0;
}

.items{
  margin:15px auto;
  text-align:center;
  padding:25px 35px;
  color:white;
  transition: 0.25px;
  cursor: pointer;
}
.form{
  border:0;
  background:none;
  margin:20px auto;
  align-items:flex-start;
  justify-content:center;
  border: 3px solid #ffc400eC;
  padding:14px 35px;
  outline:none;
  color:white;
  border-radius: 24px;
  transition: 0.25px;
  cursor: pointer;
}
.cart{
padding-right: 2em;
position: relative;

}

.cart .number-of-items{
display: flex;
cursor:pointer;
justify-content: center;
align-items: center;
color: white;
position: absolute;
left: 18px;
top: -7px;
background: #f09d51;
height: 20px;
width: 20px;
border-radius: 7px;
}
.number-of-items .noi{
font-size: 0.7em;
}
.fa-shopping-cart{
font-size: 1.5em;
cursor: pointer;
}
.navbar {
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin: 0 260px;
}

.navbar a {
  border:0;
  background:none;
  display: block;
  margin:5px;
  border: 2px solid #0367fd;
  padding:14px 35px;
  outline:none;
  color:white;
  border-radius: 10px;
  transition: 0.25px;
  cursor: pointer;
  text-decoration: none;
}

.navbar a:hover {
  background:#97b9ee;
}

header{
  position: -webkit-sticky;
  position: sticky;
  margin: 0 auto;
  display: flex;
  align-items: center; 
  justify-content: center;
}

header button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  margin: 3px;
}

header button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

header button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

header button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

header button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

header button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

header button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

header button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

header button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}